/*hovers*/

.btn:hover{
    background: rgb(226, 184, 59);
    /*background: var(--primary-text);*/
    color: var(--primary-text);
    box-shadow: 2px 2px 2px var(--btn-color);
    transition: all .3s ease-in-out;
}

.btn-secondary:hover{
    background: var(--btn-color);
    border: 1px solid var(--primary-text);
    /* box-shadow: 2px 2px 2px var(--primary-text); */
    transition: all .3s ease-in-out;
}

.card-container:hover{
    box-shadow: 10px 10px 10px var(--primary);
    transition: all .2s ease;
}

/* .nav-bar:hover a{
    filter: blur(0px);
} */

.nav-bar a:hover{
    filter: drop-shadow(5px 3px 2px var(--primary-text));
}

/* .nav-bar li a:hover{
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px var(--primary-text);
    transition: all .3s ease-in-out;
} */

.quantity-handler:hover {
    box-shadow: 2px 2px 2px var(--btn-color);
}

.cart-toggle:hover{
    font-size: 28px;
}
