@media (max-width: 850px){
    .hero-img img {
        display: none;
    }

    .hero-info{
        text-align: center;
    }

    .card-container{
        max-width: 300px;
    }

    .nav-bar ul{
        position: absolute;
        top: 80px;
        left: 5%;
        right: 5%;
        width: 90%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding: 40px;
        border: 2px solid var(--btn-color);
        border-top: 0px;
        border-radius: 0px 0px 10px 10px;
        background: linear-gradient(to bottom, rgb(8, 8, 8), var(--primary));
        /*display: none;*/
        box-shadow: 0px 3px 3px 1px var(--btn-color);
        transform: translate(200%);
        transition: all .5s ease-in-out;
    }

    .nav-bar a{
        font-size: 16px;
        width: 120px;
        letter-spacing: 1px;
    }

    .bars-menu span{
        display: flex;
        height: 3px;
        width: 30px;
        background: white;
        gap: 5x;
        border-radius: 7px;
        margin: 5px;
    }

    .bars-menu{
        cursor: pointer;
    }

    #menu-toggle:checked + .nav-bar{
        transform: translate(0%);
        transition: all .5s ease-in-out;
    }

    .Menu{
        display: flex;
        height: fit-content;
    }

    .hero-info h1{
        font-size: 50px;
    }

    .hero-info p{
        font-size: 24px;
    }

    .hero-info{
        display: flex;
        flex-flow: column;
        padding: 30px 50px;
    }

    .hero-info>.btn{
        max-width: inherit;
        margin: auto 60px;
    }

    .about-img img{
        max-width: 70%;
    }

    .card-text-title{
        font-size: 20px;
    }

    .card-container{
        gap: 10px;
    }

    .contact-bottom{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .contact-info{
        display: flex;
        flex-direction: row;
    }
}

@media (max-width: 560px) {
    .card-text{
        max-width: 80%;
    }

    .contact-bottom span{
        display: none;
    }

    .form{
        max-width: 90%;
    }
}
