@media (max-width: 1100px){
    .hero-info h1{
        font-size: 42px;
    }

    .hero-info p{
        font-size: 20px;
    }

    .about-info h2{
        font-size: 40px;
    }

    .about-info p{
        font-size: 20px;
    }
    
    .about-info-bottom{
        font-size: 20px;
    }
}

@media (max-width: 850px){
    /*navbar*/

    .nav-bar{
        position: absolute;
        top: 80px;
        left: 15%;
        right: 15%;
        width: 70%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding: 40px;
        border: 2px solid var(--btn-color);
        border-top: 0px;
        border-radius: 0px 0px 10px 10px;
        background: linear-gradient(to bottom, rgb(8, 8, 8), var(--primary));
        /*display: none;*/
        box-shadow: 0px 3px 3px 1px var(--btn-color);
        transform: translateY(-200%);
        transition: all .5s ease-in-out;
    }

    .nav-bar a{
        display: flex;
        width: 100%;
        justify-content: center;
        align-content: center;
        font-size: 16px;
        letter-spacing: 1px;
    }

    .bars-menu span{
        display: flex;
        height: 3px;
        width: 30px;
        background: white;
        gap: 5x;
        border-radius: 7px;
        margin: 5px;
    }

    .bars-menu{
        cursor: pointer;
    }

    /* para copiar la funcionalidad en js */
    .open-menu{
        display: flex;
        transform: translateY(0%);
        transition: all .5s ease-in-out;
    }

    /*Inicio*/

    .Inicio{
        display: flex;
        height: fit-content;
        justify-content: center;
        align-items: center;
        padding: 70px 35px;
    }

    .hero-info{
        display: flex;
        justify-content: center;
        text-align: center;
        flex-flow: column;
        max-width: 90%;
    }

    .hero-info a {
        width: 40%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .hero-img {
        display: none;
    }

    .hero-info h1{
        font-size: 42px;
    }

    .hero-info p{
        font-size: 20px;
        width: 80%;
    }

    /*Acerca*/
    .Nosotros{
        padding: 30px;
    }

    .about-info h2{
        font-size: 40px;
    }

    .about-info p{
        font-size: 20px;
    }

    .card-text-title{
        font-size: 20px;
    }

    .card-container{
        gap: 10px;
        max-width: 300px;
    }

    .contact-bottom{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .contact-info{
        display: flex;
        flex-direction: row;
    }
}

@media (max-width: 560px) {
    .hero-info h1{
        font-size: 38px;
    }

    .hero-info p{
        font-size: 18px;
    }
    
    .about-info-bottom p{
        font-size: 20px;
    }

    .contact-bottom span{
        display: none;
    }

    .form{
        max-width: 90%;
    }
}
