*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

@font-face{
    font-family: "Renegade Pursuit";
    src: url(/assets/Renegade\ Pursuit.otf);
}

:root{
    /*option a*/
    --primary: rgb(51,51,51);
    --primary-text: rgb(255,255,255);
    --btn-color: rgb(204,153,0);
    --background: rgb(0,0,0);
    --acent: rgb(0,51,102);

}

html, body {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
    font-family: 'Nunito Sans', sans-serif;
    color: var(--primary-text);
    background-color: var(--background);
}

span{
    font-style: italic;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    min-width: 100%;
    background: linear-gradient(to bottom, var(--primary), var(--background));
    padding: 10px 30px;
    border-bottom: 0px solid black;
    font-size: 16px;
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
}

.logo img{
    display: flex;
    width: 60px;
    height: 60px;
    margin: 5px;
    border-radius: 10px;
}

nav {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;
}

.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.nav-bar a{
    gap: 20px;
    text-decoration: none;
    color: var(--primary-text);
}

.bars-menu span{
    display: none;
}


.cart-toggle{
    display: flex;
    justify-content: end;
    cursor: pointer;
    font-size: 25px;
    color: white;
}

.cart{
    position: absolute;
    top: 80px;
    right: 0;
    padding: 20px 20px;
    box-shadow: 0px 8px 5px 2px var(--btn-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: calc(100vh - 80px);
    overflow-y: scroll;
    z-index: 2;
    background: linear-gradient(to top, rgb(8, 8, 8), var(--primary));
    transform: translateY(-200%);
    transition: all .5s ease;
}

.cart button{
    width: 80%;
}

.cart-container{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.cart-item{
    position: relative;
    margin: 3px 0px;
    border: 1px solid var(--btn-color);
    padding: 10px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart::-webkit-scrollbar{
    display: none;
}

.cart-item img{
    width: 100px;
    border-radius: 10px;
}

.item-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.item-title{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
}

.item-price{
    font-size: 13px;
}

.item-handler span{
    border: 1px solid var(--btn-color);
    padding: 2px 7px;
    border-radius: 5px;
}

/* para copiar y darle funcionalidad en js */
.open-cart{
    display: flex;
    transform: translateY(0%);
    transition: all .5s ease;
}

.cart-total{
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--btn-color);
    width: 100%;
    padding: 5px;
    border-radius: 7px;
}


.btn{
    background: var(--btn-color);
    padding: 8px 20px;
    border-radius: 9px;
    border: 1px solid var(--btn-color);
    color: var(--primary-text);
    cursor: pointer;
}

.btn-small{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
}

.btn-secondary{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid var(--btn-color);
    border-radius: 10px;
    padding: 8px 20px;
    font-size: 12px;
    background-color: transparent;
    color: var(--primary-text);
    cursor: pointer;
}

.Inicio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px 50px;
    /* background: rgb(28, 28, 28); */
    background: linear-gradient(to bottom, transparent, 85%, rgb(28, 28, 28)), url(../img/puma_maniqui_1.png) no-repeat left/cover;
    width: 100%;
    gap: 20px;
}

.hero-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 100%;
    padding: 10px;
    backdrop-filter: blur(5px) saturate(150%);
    -webkit-backdrop-filter: blur(5px) saturate(150%);
    border-radius: 5px;
}

.hero-info h1{
    z-index: 1;
    font-size: 48px;
    font-weight: 900;
    width: 100%;
}

.hero-info h1 span{
    background: linear-gradient(to top, var(--acent), var(--primary-text));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.hero-info a{
    width: 100px;
}

.hero-info p{
    font-size: 24px;
}

.hero-img{
    display: flex;
    justify-content: center;
    width: 100%;
}

.hero-img img{
    display: flex;
    justify-content: end;
    align-items: flex-end;
    max-width: 90%;
    filter: drop-shadow(15px 15px 15px black);
}

.Nosotros{
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 20px;
    background: linear-gradient(to bottom, rgb(29, 28, 28), var(--background));
}

.about-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    max-width: 1200px;
    gap: 20px;
}

.about-info h2{
    font-size: 44px;
    font-weight: 800;
    letter-spacing: 1px;
}

.about-info p{
    font-size: 24px;
    width: 80%;
}

.slider-container{
    position: relative;
    display: flex;
    align-items: center;
    margin: auto;
    width: 70%;
    padding: 5px;
}

.slider-container .slider{
    /* box-shadow: 15px 15px 15px black; */
    overflow: hidden;
    border-radius: 10px;
    width: 100%;
}

.slider-container .slider-holder{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(5, 100%);
    object-fit: cover;
    animation: slider 15s ease infinite;
    gap: 5px;
    margin: auto;
}


.slider-holder img{
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    margin: auto;
    max-width: 500px;
    width: 100%;
    border-radius: 15px;
}

@keyframes slider{
    0%{transform: translateX(0%);}
    25%{transform: translateX(-100%);}
    50%{transform: translateX(-200%);}
    75%{transform: translateX(-300%);}
    100%{transform: translateX(0%);}
}


.about-info-bottom{
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Productos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1300px;
}

.filter{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 15px;
    font-size: 1.2em;
    background: transparent;
    padding: 10px;
}

.categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 15px;
}

.category{
    background: transparent;
    padding: 10px;
    width: auto;
}    

.active{
    background-color: var(--btn-color);
    color: var(--background);
}    

.products-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 30px;
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: radial-gradient(rgb(78, 77, 77), var(--background));
    border: 2px solid rgba(50, 50, 50, 0.493);
    padding: 30px 15px;
    gap: 30px;
    border-radius: 15px;
    max-width: 300px;
    max-height: 450px;
    gap: 20px;
}

.card-img img{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    border-radius: 8px;
}

.card-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.card-text-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 60px;
    font-size: 24px;
    width: auto;
}

.card-text-btn{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.card-text-btn span{
    background: var(--background);
    padding: 5px;
    border-radius: 10px;
    border: 2px solid var(--btn-color);
}

.Productos:last-child {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.Contacto{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    text-align: center;
    padding: 80px 50px;
    gap: 20px;
}

.Contacto i{
    font-size: 24px;
    color: var(--primary-text);
}

.contact-title{
    font-size: 30px;
}

.contact-bottom{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-info{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: start;
    padding: 20px;
    gap: 60px;
}

.contact-message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 10px;
}


#message,
#name,
#lastName,
#email {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary);
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    color: var(--primary-text);
}

/* estilos para mensajes de error y exito en contacto */
.error input{
    border: 2px solid red;
}

.success input{
    border: 2px solid green;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.add-msg{
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--primary-text);
    background: rgba(63, 61, 61, 0.795) 100%;
    backdrop-filter: blur(5px) saturate(180%);
    -webkit-backdrop-filter: blur(5px) saturate(180%);
    transition: all 0.5s ease-out;
    transform: translateY(200%);
    /* box-shadow: 0 7px 7px 0 rgb(85, 84, 84); */
}

.active-msg{
    transform: translateY(0);
    transition: all 0.5s ease-out;
}

/*estilos login*/

.form-login{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: url(../img/beckham.webp) no-repeat center/cover;
}

.register{
    background: url(../img/nike_2004.png) no-repeat center/cover;
}

.form-login form{
    display: flex;
    flex-direction: column;
    border: 2px solid var(--primary);
    border-radius: 10px;
    padding: 90px;
    gap: 30px;
    margin-bottom: 20px;
    background: linear-gradient(0deg, rgba(15, 15, 15, 0.733) 0%, rgba(63, 61, 61, 0.795) 100%);
    backdrop-filter: blur(7px) saturate(180%);
    -webkit-backdrop-filter: blur(7px) saturate(180%);
    box-shadow: 0 7px 7px 0 rgb(85, 84, 84);
}

.user,
.password{
    display: flex;
    flex-direction: column;
}

form input{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary);
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
    color: var(--primary-text);
}

.form-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    gap: 20px;
}

.form-bottom a{
    color: var(--primary-text);
}

.user label{
    letter-spacing: 1px;
}

.password label{
    letter-spacing: 1px;
}

