*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    /*option a*/
    --primary: rgb(51,51,51);
    --primary-text: rgb(255,255,255);
    --btn-color: rgb(204,153,0);
    --background: rgb(0,0,0);
    --acent: rgb(0,51,102);

    /*option b
    --primary: rgb(255,255,255);
    --secondary: rgb(204,204,204);
    --text: rgb(0,0,0);
    --acent: rgb(204,0,0);
    */
}

html, body {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
    font-family: 'Nunito Sans', sans-serif;
    color: var(--primary-text);
    background-color: var(--background);
}

span{
    font-style: italic;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    min-width: 100%;
    background: linear-gradient(to bottom, var(--primary), var(--background));
    padding: 10px 30px;
    border-bottom: 0px solid black;
    font-size: 16px;
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
}

.logo img{
    display: flex;
    width: 60px;
    height: 60px;
    margin: 5px;
    border-radius: 10px;
}

nav {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;
}

.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.nav-bar a{
    gap: 20px;
    margin-left: 30px;
    text-decoration: none;
    color: var(--primary-text);
}

#menu-toggle{
    display: none;
}

.bars-menu span{
    display: none;
}

#cart-toggle{
    display: none;
}

.cart-toggle-container label{
    display: flex;
    justify-content: end;
    cursor: pointer;
    font-size: 25px;
    color: white;
}

.cart{
    position: absolute;
    top: 80px;
    right: 0;
    padding: 30px 20px;
    box-shadow: 0px 8px 5px 2px var(--btn-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    height: calc(100vh - 80px);
    overflow-y: scroll;
    display: none;
    z-index: 2;
    background: linear-gradient(to top, rgb(8, 8, 8), var(--primary));
}

.cart-item{
    position: relative;
    margin: 20px 0px;
    border: 1px solid var(--btn-color);
    padding: 30px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: -2px 0px 4px var(--btn-color);
}

.cart::-webkit-scrollbar{
    display: none;
}

.cart-item img{
    width: 120px;
    border-radius: 10px;
}

.item-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.item-handler span{
    border: 1px solid var(--btn-color);
    padding: 2px 7px;
    border-radius: 5px;
}

#cart-toggle:checked + .cart{
    display: flex;
}

.btn{
    background: var(--btn-color);
    padding: 8px 20px;
    border-radius: 9px;
    margin: 10px;
    max-width: 100px;
    border: 0px solid var(--acent);
    color: var(--primary-text);
    cursor: pointer;
}

.btn-small{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    max-width: 80px;
    font-size: .8em;
}

.btn-secondary{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid var(--btn-color);
    border-radius: 10px;
    width: 80px;
    padding: 10px;
    font-size: 12px;
    color: var(--primary-text);
}

.Menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 90px;
    background: rgb(28, 28, 28);
    width: 100%;
    height: 70vh;
    gap: 20px;
}

.hero-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.hero-info h1{
    font-size: 40px;
    font-weight: 900;
}

.hero-info h1 span{
    background: linear-gradient(to top, var(--acent), var(--primary-text));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.hero-info p{
    font-size: 20px;
}

.hero-img img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
}

.Acerca{
    display: flex;
    flex-direction: column;
    background: #29656949;
    padding: 50px;
    gap: 20px;
    background: linear-gradient(to bottom, rgb(29, 28, 28), var(--background));
}

.about-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    max-width: 1200px;
    gap: 20px;
}

.about-info h2{
    font-size: 36px;
    font-weight: 800;
}

.about-info p{
    font-size: 20px;
    width: 90%;
}

.about-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 30px 0px;
}

.about-img img{
    display: flex;
    width: 600px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
}

.about-img p{
    font-size: 22px;
}

.about-img p:first-of-type{
    padding-top: 30px;
}

.Productos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1300px;
}

.products-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 30px;
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: radial-gradient(rgb(78, 77, 77), var(--background));
    border: 2px solid rgba(50, 50, 50, 0.493);
    padding: 30px 15px;
    gap: 30px;
    border-radius: 15px;
    max-width: 350px;
    gap: 20px;
}

.card-img img{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    border-radius: 8px;
}

.card-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.card-text-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 60px;
    font-size: 24px;
}

.card-text-btn{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.card-text-btn span{
    background: var(--background);
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px solid var(--btn-color);
}

.Productos:last-child {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Contacto{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    text-align: center;
    padding: 80px 50px;
    gap: 20px;
}

.Contacto i{
    font-size: 24px;
    color: var(--primary-text);
}

.contact-title{
    font-size: 30px;
}

.contact-bottom{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-info{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: start;
    padding: 10px;
    gap: 30px;
}

.contact-message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    gap: 20px;
}


#message{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary);
    border-radius: 5px;
    padding: 5px;
    width: 100%;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}


/*estilos login*/

.form-login{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: url(./beckham.webp) no-repeat center/cover;
}

.form-login form{
    display: flex;
    flex-direction: column;
    border: 2px solid var(--primary);
    border-radius: 10px;
    padding: 90px;
    gap: 30px;
    margin-bottom: 20px;
    background: linear-gradient(0deg, rgba(15, 15, 15, 0.733) 0%, rgba(63, 61, 61, 0.795) 100%);
    backdrop-filter: blur(7px) saturate(180%);
    -webkit-backdrop-filter: blur(7px) saturate(180%);
    box-shadow: 0 7px 7px 0 rgb(85, 84, 84);
}

.user,
.password{
    display: flex;
    flex-direction: column;
}

form input{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary);
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
    color: var(--primary-text);
}

.form-bottom {
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap: 20px;
}

.form-bottom a{
    color: var(--primary-text);
}

.user label{
    letter-spacing: 1px;
}

.password label{
    letter-spacing: 1px;
}